[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-bootstrap-theme = "*"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
ipykernel = "*"
tqdm = "*"
matplotlib = "==3.0.0"
termtables = "*"

[requires]
python_version = "3.6"
